<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Settings - IGDiscount</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="IGDicount">
    <meta name="author" content="IGDicount">
    <link rel="icon" href="/images/logo.ico" />
    <!-- Bootstrap CSS -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/lib/business-casual.css" rel="stylesheet">
    <link href="/assets/stylesheets/custom.css" rel="stylesheet">

    <!-- Notification/CSS -->
    <link href="/lib/angular-ui-notification.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-app="app" ng-controller="modifyAccount">

<div id="headtitle"></div>
<div id="navbar" ng-controller="headerController"></div>

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Account Settings</h2>
                <hr>
                <form name="passwordForm" ng-submit="submitFormPassword()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : passwordForm.password.$invalid && !passwordForm.password.$pristine }">
                        <label>Password</label>
                        <input type="password" ng-minlength="5" name="password" class="form-control" ng-model="user.password" ng-disabled="disableFacebook" required>
                        <p ng-show="passwordForm.password.$error.minlength && !passwordForm.password.$pristine" class="help-block">Password is too short</p>
                    </div>
                    <div  class="form-group" ng-class="{ 'has-error' : user.repeatPassword != user.password && !passwordForm.repeatPassword.$pristine }">
                        <label>Repeat Password</label>
                        <input type="password" name="repeatPassword" class="form-control" ng-model="user.repeatPassword" ng-disabled="disableFacebook" required>
                        <p ng-show="user.repeatPassword != user.password && !passwordForm.repeatPassword.$pristine" class="help-block">The password must be equal</p>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="(passwordForm.$invalid || user.repeatPassword != user.password)">Update password</button>
                </form>
                <form name="simpleUserForm" ng-submit="submitSimpleUserForm()" ng-show="enableSimpleUserForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : simpleUserForm.firstName.$invalid && !simpleUserForm.firstName.$pristine }">
                        <label>First name</label>
                        <input type="text" class="form-control" name="firstName" ng-model="simpleUser.firstName" required>
                        <p ng-show="simpleUserForm.firstName.$invalid && !simpleUserForm.firstName.$pristine" class="help-block">Your first name is required</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : simpleUserForm.lastName.$invalid && !simpleUserForm.lastName.$pristine }">
                        <label>Last name</label>
                        <input type="text" name="lastName" class="form-control" ng-model="simpleUser.lastName" required>
                        <p ng-show="simpleUserForm.lastName.$invalid && !simpleUserForm.lastName.$pristine" class="help-block">Your last name is required</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : simpleUserForm.email.$invalid && !simpleUserForm.email.$pristine }">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" ng-model="simpleUser.email" ng-disabled="disableFacebook" required>
                        <p ng-show="simpleUserForm.email.$invalid && !simpleUserForm.email.$pristine" class="help-block">Your email is required</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : simpleUserForm.adress.$invalid && !simpleUserForm.adress.$pristine }">
                        <label>Address</label>
                        <input type="text" name="adress" class="form-control" ng-model="simpleUser.adress" required>
                        <p ng-show="simpleUserForm.adress.$invalid && !simpleUserForm.adress.$pristine" class="help-block">Your address is required</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : simpleUserForm.streetNumber.$invalid && !simpleUserForm.streetNumber.$pristine }">
                        <label>Street Number</label>
                        <input type="number" name="streetNumber" class="form-control" ng-model="simpleUser.streetNumber" required>
                        <p ng-show="simpleUserForm.streetNumber.$invalid && !simpleUserForm.streetNumber.$pristine" class="help-block">Your street number is required</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : (simpleUserForm.postalCode.$error.minlength || simpleUserForm.postalCode.$error.maxlength) && !simpleUserForm.postalCode.$pristine}">
                        <label>Postal code</label>
                        <input type="number" ng-minlength="5" ng-maxlength="5" name="postalCode" class="form-control" ng-model="simpleUser.postalCode" required>
                        <p ng-show="(simpleUserForm.postalCode.$error.minlength || simpleUserForm.postalCode.$error.maxlength) && !simpleUserForm.postalCode.$pristine" class="help-block">A valid postal code is required</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : simpleUserForm.city.$invalid && !simpleUserForm.city.$pristine }">
                        <label>City</label>
                        <input type="text" name="city" class="form-control" ng-model="simpleUser.city" required>
                        <p ng-show="simpleUserForm.city.$invalid && !simpleUserForm.city.$pristine" class="help-block">Your postal city is required</p>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="simpleUserForm.$invalid">Update my account</button>
                </form>
                <form name="sellerCompanyForm" ng-submit="submitSellerCompanyForm()" ng-show="enableSellerCompanyForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : sellerCompanyForm.firstName.$invalid && !sellerCompanyForm.firstName.$pristine }">
                        <label>Company name</label>
                        <input type="text" class="form-control" name="sellerCompanyForm" ng-model="sellerCompany.companyName" required>
                        <p ng-show="sellerCompanyForm.sellerCompanyForm.$invalid && !sellerCompanyForm.sellerCompanyForm.$pristine" class="help-block">Your company name is required</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : (sellerCompanyForm.siret.$error.minlength || sellerCompanyForm.siret.$error.maxlength) && !sellerCompanyForm.siret.$pristine}">
                        <label>SIRET</label>
                        <input type="number" ng-minlength="14" ng-maxlength="14" name="siret" class="form-control" ng-model="sellerCompany.siret" required>
                        <p ng-show="(sellerCompanyForm.siret.$error.minlength || sellerCompanyForm.siret.$error.maxlength) && !sellerCompanyForm.siret.$pristine" class="help-block">The size of SIRET must be 14 characters</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : sellerCompanyForm.email.$invalid && !sellerCompanyForm.email.$pristine }">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" ng-model="sellerCompany.email" ng-disabled="disableFacebook" required>
                        <p ng-show="sellerCompanyForm.email.$invalid && !sellerCompanyForm.email.$pristine" class="help-block">Your email is required</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : sellerCompanyForm.adress.$invalid && !sellerCompanyForm.adress.$pristine }">
                        <label>Address</label>
                        <input type="text" name="adress" class="form-control" ng-model="sellerCompany.adress" required>
                        <p ng-show="sellerCompanyForm.adress.$invalid && !sellerCompanyForm.adress.$pristine" class="help-block">Your address is required</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : sellerCompanyForm.streetNumber.$invalid && !sellerCompanyForm.streetNumber.$pristine }">
                        <label>Street Number</label>
                        <input type="number" name="streetNumber" class="form-control" ng-model="sellerCompany.streetNumber" required>
                        <p ng-show="sellerCompanyForm.streetNumber.$invalid && !sellerCompanyForm.streetNumber.$pristine" class="help-block">Your street number is required</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : (sellerCompanyForm.postalCode.$error.minlength || sellerCompanyForm.postalCode.$error.maxlength) && !sellerCompanyForm.postalCode.$pristine}">
                        <label>Postal code</label>
                        <input type="number" ng-minlength="5" ng-maxlength="5" name="postalCode" class="form-control" ng-model="sellerCompany.postalCode" required>
                        <p ng-show="(sellerCompanyForm.postalCode.$error.minlength || sellerCompanyForm.postalCode.$error.maxlength) && !sellerCompanyForm.postalCode.$pristine" class="help-block">A valid postal code is required</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : sellerCompanyForm.city.$invalid && !sellerCompanyForm.city.$pristine }">
                        <label>City</label>
                        <input type="text" name="city" class="form-control" ng-model="sellerCompany.city" required>
                        <p ng-show="sellerCompanyForm.city.$error.invalid && !sellerCompanyForm.city.$pristine" class="help-block">Your postal city is required</p>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="sellerCompanyForm.$invalid">Update my account</button>
                </form>
                <form name="adminForm" ng-submit="submitAdminForm()" ng-show="enableAdminForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : adminForm.firstName.$invalid && !adminForm.firstName.$pristine }">
                        <label>First name</label>
                        <input type="text" class="form-control" name="firstName" ng-model="admin.firstName" required>
                        <p ng-show="adminForm.firstName.$invalid && !adminForm.firstName.$pristine" class="help-block">Your first name is required</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : adminForm.lastName.$invalid && !adminForm.lastName.$pristine }">
                        <label>Last name</label>
                        <input type="text" name="lastName" class="form-control" ng-model="admin.lastName" required>
                        <p ng-show="adminForm.lastName.$invalid && !adminForm.lastName.$pristine" class="help-block">Your last name is required</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : adminForm.email.$invalid && !adminForm.email.$pristine }">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" ng-model="admin.email" required>
                        <p ng-show="adminForm.email.$invalid && !adminForm.email.$pristine" class="help-block">Your email is required</p>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="adminForm.$invalid">Update account</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="footer"></div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"   integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI="   crossorigin="anonymous"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/lib/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="/lib/jquery.cookie.js"></script>
<script src="/lib/angular-ui-notification.min.js"></script>
<script src="/lib/smart-table.min.js"></script>
<script src="/lib/spin.min.js"></script>
<script src="/lib/angular-filter.min.js"></script>
<script src="/lib/angular-spinner.js"></script>
<script src="/js/facebookService.js"></script>
<script src="/js/app.js"></script>
<script src="/js/header.js"></script>
<script src="/js/oauth.js"></script>
<script src="/js/modifyAccount.js"></script>

<script>
        $( "#headtitle" ).load( "/assets/html/headtitle.html" );
        $( "#footer" ).load( "/assets/html/footer.html" );
</script>
</body>
</html>